nav.menubar{
    width: 700px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}