@charset "UTF-8";

body {
    font-family: "游ゴシック";
    color: black;
}

body header {
    padding-top: 90px;
}

body header nav.menubar {
    width: 100%;
    height: 80px;
    background-color: rgb(203, 255, 160);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

body header nav.menubar img#header_icon {
    width: 120px;
    margin-left: 5px;
}

body header nav.menubar ul {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

body header nav.menubar ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 9px;
}

body header nav.menubar ul li a {
    text-decoration: none;
    color: black;
    position: relative;
}

body header nav.menubar ul li a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: 0.2s;
}

body header nav.menubar ul li a:hover::after {
    transform: scale(1, 1);
}